@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rajdhani";
    src: url("/src/font/Rajdhani-Regular.ttf");
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}